.credits-person-img,
.credits-person-img--wrapper {
  clip-path: polygon(0px calc(100% - 40px),
    8px calc(100% - 40px),
    8px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 8px),
    40px calc(100% - 8px),
    40px 100%,
    calc(100% - 40px) 100%,
    calc(100% - 40px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 40px),
    100% calc(100% - 40px),
    100% 40px,
    calc(100% - 8px) 40px,
    calc(100% - 8px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 8px,
    calc(100% - 40px) 8px,
    calc(100% - 40px) 0px,
    40px 0px,
    40px 8px,
    24px 8px,
    24px 16px,
    16px 16px,
    16px 24px,
    8px 24px,
    8px 40px,
    0px 40px);
  position: relative;
}
.credits-person-img {
  border: 16px solid transparent;
}
.credits-person-img--wrapper {
  width: fit-content;
  height: fit-content;
}
.credits-person-img--wrapper .credits-person-img {
  display: block;
  clip-path: polygon(16px 48px,
    24px 48px,
    24px 32px,
    32px 32px,
    32px 24px,
    48px 24px,
    48px 16px,
    calc(100% - 48px) 16px,
    calc(100% - 48px) 24px,
    calc(100% - 32px) 24px,
    calc(100% - 32px) 32px,
    calc(100% - 24px) 32px,
    calc(100% - 24px) 48px,
    calc(100% - 16px) 48px,
    calc(100% - 16px) calc(100% - 48px),
    calc(100% - 24px) calc(100% - 48px),
    calc(100% - 24px) calc(100% - 32px),
    calc(100% - 32px) calc(100% - 32px),
    calc(100% - 32px) calc(100% - 24px),
    calc(100% - 48px) calc(100% - 24px),
    calc(100% - 48px) calc(100% - 16px),
    48px calc(100% - 16px),
    48px calc(100% - 24px),
    32px calc(100% - 24px),
    32px calc(100% - 32px),
    24px calc(100% - 32px),
    24px calc(100% - 48px),
    16px calc(100% - 48px));
}
.credits-person-img::after,
.credits-person-img--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 40px),
    8px calc(100% - 40px),
    8px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 8px),
    40px calc(100% - 8px),
    40px 100%,
    calc(100% - 40px) 100%,
    calc(100% - 40px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 40px),
    100% calc(100% - 40px),
    100% 40px,
    calc(100% - 8px) 40px,
    calc(100% - 8px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 8px,
    calc(100% - 40px) 8px,
    calc(100% - 40px) 0px,
    40px 0px,
    40px 8px,
    24px 8px,
    24px 16px,
    16px 16px,
    16px 24px,
    8px 24px,
    8px 40px,
    0px 40px,
    0px 50%,
    16px 50%,
    16px 48px,
    24px 48px,
    24px 32px,
    32px 32px,
    32px 24px,
    48px 24px,
    48px 16px,
    calc(100% - 48px) 16px,
    calc(100% - 48px) 24px,
    calc(100% - 32px) 24px,
    calc(100% - 32px) 32px,
    calc(100% - 24px) 32px,
    calc(100% - 24px) 48px,
    calc(100% - 16px) 48px,
    calc(100% - 16px) calc(100% - 48px),
    calc(100% - 24px) calc(100% - 48px),
    calc(100% - 24px) calc(100% - 32px),
    calc(100% - 32px) calc(100% - 32px),
    calc(100% - 32px) calc(100% - 24px),
    calc(100% - 48px) calc(100% - 24px),
    calc(100% - 48px) calc(100% - 16px),
    48px calc(100% - 16px),
    48px calc(100% - 24px),
    32px calc(100% - 24px),
    32px calc(100% - 32px),
    24px calc(100% - 32px),
    24px calc(100% - 48px),
    16px calc(100% - 48px),
    16px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: block;
  pointer-events: none;
}
.credits-person-img::after {
  margin: -16px;
}