* {
    font-family: Tahoma;
    image-rendering: pixelated;
}

body, main {
    margin: 0;
    overflow: hidden;
}

#pointsCounter {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 3rem;

    z-index: 100;
}

#obstacleContainer {
    position: absolute;
}

#player {
    position: absolute;
    top: 50%;  
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#pointer {
    position: absolute;

    width: 85px;
    height: 85px;

    opacity: 0;
    
    background-image: url('/assets/arrow.png');
    background-size: contain;
    transition: opacity 0.25s ease-in-out;

    z-index: 100;
}

.cloud {
    position: absolute;

    width: 200px;
    height: 50px;
    background-color: gray;
    box-sizing: border-box;
    border: darkgray 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cloud.small {
    height: 50px;
}

.cloud.medium {
    height: 75px;
}

.cloud.large {
    height: 90apx;
}

.gato {
    position: absolute;

    width: 25px;
    height: 25px;
    background-color: black;
    z-index: 50;
}

.box {
    position: absolute;

    width: 30px;
    height: 30px;
    background-color: #9c00e4;
    z-index: 50;
}