@import './fonts.css';
@import './game.css';
@import './menu.css';
@import './game_over.css';
@import './pixel/pixel-corners-endscreen-buttons.css';
@import './pixel/pixel-corners-menu-buttons.css';

* {
    font-family: Pixellari;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: contain;
}

html, body {
    margin: 0;
    overflow: hidden;
    z-index: 1000;
}

button {
    border: none;
    cursor: pointer;
}

main {
    width: 100vw;
    height: 100vh;
}

#menu, #game-container, #endscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#menu {
    visibility: visible;
}


@keyframes wipe {
    0% {
        clip-path: inset(0);
        visibility: hidden;
    }
    25% {
        clip-path: inset(0 100% 0 0); 
        visibility: hidden;
    }
    75% {
        clip-path: inset(0 0 0 100%); 
        visibility: visible;
    }
    100% {
        clip-path: inset(0);
        visibility: visible;
    }
}

@keyframes wipeReverse {
    0% {
        clip-path: inset(0);
        visibility: visible;
    }
    25% {
        clip-path: inset(0 100% 0 0); 
        visibility: visible;
    }
    75% {
        clip-path: inset(0 0 0 100%); 
        visibility: hidden;
    }
    100% {
        clip-path: inset(0);
        visibility: hidden;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}