* {
    font-family: Tahoma;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: contain;
}

body,
main {
    margin: 0;
    overflow: hidden;
    background-color: #81caed;
}

#pointsCounter {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 3rem;

    z-index: 100;
}

#obstacleContainer {
    position: absolute;
}

#player {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 150px;
    height: 90px;
    /* background-color: rgba(255, 0, 0, 0.368); */

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: playerBackgroundAnimation 0.4s steps(1) infinite;
    z-index: 60;
}

@keyframes playerBackgroundAnimation {
    0% {
        background-image: url('/assets/player_1.png');
    }
    50% {
        background-image: url('/assets/player_2.png');
    }
}

#pointer {
    position: absolute;

    width: 65px;
    height: 65px;

    opacity: 0;

    background-image: url('/assets/arrow.png');
    /* transition: opacity 0.25s ease-in-out; */

    z-index: 100;
}

.cloud {
    position: absolute;

    background-image: url('/assets/cloud.png');
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.gato {
    position: absolute;

    width: 70px;
    height: 65px;
    background-image: url('/assets/gato_orange_sitting.png');

    z-index: 50;
}

.gato[picked]{
    background-image: url('/assets/gato_orange_picked.png');
}

.box {
    position: absolute;

    width: 90px;
    height: 90px;
    transform: translateY(75%);
    background-image: url('/assets/box_opened.png');
    z-index: 50;
}

.raven {
    position: absolute;

    width: 150px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: ravenRedBackgroundAnimation 0.4s steps(1) infinite;
}

@keyframes ravenRedBackgroundAnimation {
    0% {
        background-image: url('/assets/raven_red_1.png');
    }
    50% {
        background-image: url('/assets/raven_red_2.png');
    }
}